/*! add zoom to charts */
.click-zoom input[type=checkbox] {
    display: none
  }
  
  .click-zoom img {
    margin: 100px;
    transition: transform 0.25s ease;
    cursor: zoom-in
  }
  
  .click-zoom input[type=checkbox]:checked~img {
    transform: scale(2);
    cursor: zoom-out
  }